body {
	padding: 1em;
	background-color: #c9e4ec;
}

header {
	position: relative;
	background-color: #163B8C;
	background-image: url("../img/MastheadGradientBG.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	text-align: center;
}

div#body {
	overflow: hidden;
}

footer {
	background-color: green;
}

/* --Header Elements-- */

#logo {
	position: absolute;
	top: 1em;
	bottom: 1em;
	left: 1em;
	height: 4em;
}

#title {
	padding: .5em;
	font-size: 3em;
	color: #FFFFFF;
   	text-shadow: -1px 0 0 #96001B, 1px 1px 0 #96001B,
           2px -1px 0 #96001B, 3px 0 0 #96001B;

}

#login_form {

}

/* --Body Elements-- */

/* Menu */

#menuWrapper {
	float: left;
	width: 19%;
	margin-right: 1%;
}

#menu {
	background-color: #777;
	height: 10em;
	/* Height should be removed once elements are added so it auto resizes */
}


/* Map */

#mapWrapper {
	float: left;
	width: 79%;
	margin-left: 1%;
	height: 40em;
}

#map {
	background-color: purple;
	
	
}

/* --Footer Elements-- */

footer p {
	padding: 1em;
}