body {
	background-color: #c9e4ec;
	margin: 0;
	padding: 0;
}

header {
	margin-top: -2em;
	position: relative;
	background-color: #163B8C;
	background-image: url("../img/MastheadGradientBG.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat; 
	text-align: center;
}

div#body {
	padding: 1em;
	padding-top: 0;
	overflow: hidden;
}

footer {
	margin: 1%;
	box-shadow: -1px -1px 1px 2px #000;
	background-color: #96001B;
	text-shadow: -1px -1px 1px #000;
	color: #FFF;
	text-align: center;
}

/* --Header Elements-- */

#logo {
	position: absolute;
	top: .2em;
	left: 5em;
	height: 6em;
}

#title {
	padding: .5em;
	font-size: 3em;
	color: #FFFFFF;
   	text-shadow: -1px 0 0 #96001B, 1px 1px 0 #96001B,
           2px -1px 0 #96001B, 3px 0 0 #96001B;

}

#login_form {
    position: absolute;
    top:1em;
    right: 3em;
    padding:10px;
}

#forgotPass{
    color:white;
    position:absolute;
    top:35px;
    left:50px;
}

#registration{
    color:white;
    position:absolute;
    top:35px;
    left:200px;
}

#SignedIn{
    color:white;
    position: absolute;
    top:1em;
    right: 2em;
    padding:10px;
    display:none;
}

#welcome{
    position: relative;
    right: 4em;
}

#logout{
    position: relative;
    bottom: 4em;
}

#register_form{
    display: none;
}

/* --Body Elements-- */

/* Menu */

#menuWrapper {
	float: left;
	width: 18em;
	margin-top: 3px;
	background-color: rgba(22, 59, 140, 0.5);
	box-shadow: -1px -1px 1px 2px #000;
	border-radius: 25px;
	position: absolute;
	left: -2em;
	padding-left: 1em;
}

#menu {
	float: left;
	width: 75%;
	padding: 1em 0 0 0;
	margin-bottom: 1em;
	font-size: 1.25em;
	color: #333;
}

#menu_button {
	float: right;
	background-image: url(../img/menu_icon.png);
	background-color: transparent;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 3em;
	width: 3em;
	margin-top: 1em;
	margin-right: 1.3em;
}

#menu  ul {
	list-style:none;
	margin: 0;
	padding: 0;
	border: none;
	/*color: white;
	list-style-type: none;*/
}

#menu li {

	border-bottom: 1px solid #90bade;
	margin: 0;
	list-style: none;
	list-style-image: none;
}

#menu li p {
	display: block;
	padding: 5px 5px 5px 0.5em;
	border-left: 10px solid #CE1126;
	border-right: 10px solid #E2D6B5;
	background-color: #CE1126;
	color: #fff;
	text-decoration: none;
	font-size: 1.2em;
	width: 100%; 
}

html>body #menu li a, html>body #menu li p {
	width: auto;
	margin: 0;
}

#menu li a {
	border-left: 10px solid #E2D6B5;
	border-right: 10px solid #E2D6B5;
	background-color: #E2D6B5;
	display: block;
	padding: 5px 5px 5px 0.5em;
	color: #000;
	text-decoration: none;
	width: 100%; 
}

#favorites{
	margin-bottom: 2em;
}

#dir_title {
	margin-bottom: -1px;
	margin-left: 1em;
	border: 1.75px solid #959595;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	background-color: #DCDCDC;
}

#dir_title p {
	font-weight: bold;
	color: #163B8C;
	margin-left: 5%;
}

#directions {
	margin-top: 0px;
	margin-bottom: 1em;
	margin-left: 1em;
	border: 1.75px solid #959595;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #DCDCDC;
}

#directions p {
	color: #163B8C;
	margin-left: 15%;
}

#directionsWrapper {
	margin-top: 3em;
	margin-bottom: 2em;
}

.direc_bttn {
	border-top: 1px solid #96d1f8;
    background: #65a9d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
    background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
    background: -moz-linear-gradient(top, #3e779d, #65a9d7);
    background: -ms-linear-gradient(top, #3e779d, #65a9d7);
    background: -o-linear-gradient(top, #3e779d, #65a9d7);
    padding: 5px 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 14px;
    font-family: Georgia, serif;
    text-decoration: none;
    vertical-align: middle;
    margin-left: 15%;
	margin-right: 2.5em;
	margin-bottom: 2em;	
}

/*#menu > ul > li > ul {
	color: black;
	list-style-type: none;
}
ul li ul {
    display: none;
}
ul li:hover ul {
    display: block;
}*/


/* Map */

#mapWrapper {
	z-index: -1;
	width: 100%;
	margin-left: 1%;
	height: 40em;
}

#map-input {
    background-color: #fff;
    padding: 0 11px 0 13px;
    width: 400px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    text-overflow: ellipsis;
}

#map-input:focus {
    border-color: #4d90fe;
    margin-left: -1px;
    padding-left: 14px;  /* Regular padding-left + 1. */
    width: 401px;
}

/* --Footer Elements-- */

footer p {
	padding: 1em;
}