body {
	background-color: #c9e4ec;
}

header {
	left: -.4%;
	width: 100.8%;
	position: relative;
	background-color: #163B8C;
	background-image: url("../img/MastheadGradientBG.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat; 
	text-align: center;
}

div#body {
	padding: 1em;
	padding-top: 0;
	overflow: hidden;
}

footer {
	margin: 1%;
	box-shadow: -1px -1px 1px 2px #000;
	background-color: #96001B;
	text-shadow: -1px -1px 1px #000;
	color: #FFF;
	text-align: center;
}

/* --Header Elements-- */

#logo {
	position: absolute;
	top: .2em;
	left: 5em;
	height: 6em;
}

#title {
	padding: .5em;
	font-size: 3em;
	color: #FFFFFF;
   	text-shadow: -1px 0 0 #96001B, 1px 1px 0 #96001B,
           2px -1px 0 #96001B, 3px 0 0 #96001B;

}

#login_form {
    position: absolute;
    top:1em;
    right: 3em;
    padding:10px;
}

#forgotPass{
    color:white;
    position:absolute;
    top:35px;
    left:190px;
}

/* --Body Elements-- */

/* Menu */

#menuWrapper {
	float: left;
	width: 19%;
	margin-right: 1%;
}

#menu {
	background-color: #777;
	height: 10em;
	/* Height should be removed once elements are added so it auto resizes */
}

#menu > ul > li {
	color: white;
	list-style-type: none;
}

#menu > ul > li > ul {
	color: black;
	list-style-type: none;
}

#menu > ul{
    list-style-type: none;
}




/* Map */

#mapWrapper {
	float: left;
	width: 79%;
	margin-left: 1%;
	height: 40em;
}

/* --Footer Elements-- */

footer p {
	padding: 1em;
}